{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% if title %}
        <title>Auralens - {{title}}</title>
    {% else %}
        <title>Auralens</title>
    {% endif %}
    <link rel="stylesheet" href="{% static 'analytics/styles.css'}">
    {% include 'base/css.html' %}
</head>
<body>
  <!--Sticky Navbar-->
  {% include 'nav/navbar.html' %}
  <!--Code block-->
  {% block content %}{% endblock %}
   <!--Flowbite js--> 
  {% include 'base/js.html' %}
</body>
</html>